<div class="container">
  <div class="jumbotron">
    <h2 class="display-4">Buscador de CEP</h2>
    <p class="lead">Essa é uma ferramenta na qual você pode buscar o seu CEP</p>
  </div>
  <form>
    <div class="form-group">
      <input type="text" [(ngModel)]="cep" placeholder="Digite seu cep" class="form-control" [ngModelOptions]="{standalone:true}">
    </div>
    <button class="btn btn-primary" (click)="buscaCep()">Buscar</button>
    <p *ngIf="logradouro != ''"><strong>Endereço:</strong> {{logradouro}}</p>
    <p *ngIf="bairro != ''"><strong>Bairro:</strong> {{bairro}}</p>
    <p *ngIf="localidade != ''"><strong>Cidade:</strong> {{localidade}}<span *ngIf="uf != ''"> - {{uf}}</span></p>
    <p ></p>
  </form>
</div>